[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyterlab = "*"
opencv-python = "*"
numba = "*"
numpy = "*"
cupy = "*"
tqdm = "*"
matplotlib = "*"
dlib = "==19.24.1"
imutils = "==0.5.4"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
